@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-image: url("https://i.pinimg.com/736x/0a/37/a9/0a37a970c415e2f406492d940f48b889.jpg");
  color: white;
}

html {
  scroll-behavior: smooth;
}